html, body { margin: 0; padding: 0; }

h1      { font-size: 24px; color: #000; }
h2      { font-size: 20px; color: #333; }
h3      { font-size: 18px; color: #666; }
h4      { font-size: 16px; color: #999; }

a       { color: #333; text-decoration: underline; }
a:hover { color: #666; text-decoration: none; }

.wrapper {
    width: 960px;
    margin: 0 auto;
}

